[logging]
log_file = log.txt
SAVE_DIR = 
TENSORBOARD_LOG_DIR = 

[dataset]
BATCH_SIZE = 32
HISTORY_LENGTH = 100
MEMORY_SIZE = 100000
NUM_ACTIONS = 3
NUM_CHANNELS = 5
SPLIT_SIZE = 10
WINDOW_SIZE = 10

[dropout]
CONV_KEEP_PROB = 0.5
DENSE_KEEP_PROB = 0.5
GRU_KEEP_PROB = 0.5

[convolution]
FILTER_SIZES = [10, 20]
KERNEL_SIZES = [5, 3]

[gru]
GRU_CELL_SIZE = 512
GRU_NUM_CELLS = 2

[dense]
DENSE_LAYER_SIZES = [512, 256, 128]